/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #1684d3;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para a navegação */
nav ul {
    list-style-type: none;
    background-color: #1684d3;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para a seção principal */
main {
    padding: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #1684d3;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para a imagem da caixa d'água */
#banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para a seção "Sobre Nós" */
#sobre {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

#sobre h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#sobre p {
    font-size: 16px;
}
